<h1>Make a new fake tweet!</h1>
<form action="/newpost" method="POST">
	<label for="post_body" name="post[body]" type="text">New Fake Tweet:</label>
	<br>
	<textarea id="post_body" name="post[body]" cols="60" rows="20"></textarea>
	<br>
	<input type="submit" value="Submit">
</form>