
<div class="signupcenter">

<!-- <form method="post" action="/sign_in"> -->
		
<h1>LOG IN</h1>
<form method="POST" action="/signin">
	<label for ="username">Username</label>
	<input type="text" name="username"><br>
	<label for ="password">Password</label>
	<input type="password" name="password"><br><br>
	<input type="submit">
</form>
</div>